<div class="container">
  <div class="row">
    <div class="col">

      <h1>Nuevo Proyecto</h1>

      <%= render 'form', proy: @proy %>

      <%= link_to 'Back', proys_path,
      class: "btn btn-secondary md-4" %>
      
    </div>
  </div>
</div>
