<h1><%= @producto.nombre %></h1>
<form action= "/ordens/carrito" method="POST">

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %> 

  <button type="submit"
    class="btn btn-primary">
    Agregar a carrito
  </button>
</form>